<main class="container-lg my-5">
    <h1 class="display-1">Mama Sound</h1>
    <button type="button" class="btn btn-outline-primary">Qui sommes-nous ?</button>
    <h2>L'agenda associatif et culturel à votre portée !</h2>
    <p class="lead">
        Au cœur de l'ancien quartier ouvrier de Pourtouche, le Tiers-Lustre vous
        propose des espaces de travail, de répétition et de création. Les
        adhérannes ont accès aux ateliers bois et élec du Fusible et au café
        bénévole de l'Ampoule. Entrez donc : y'a de la lumière !
    </p>
    <a class="btn btn-primary" href="#" role="button">Programmation</a>
    
</main>
