<div class="bg-black">
<main class="container-lg my-5">
    <div class="container-lg d-flex align-items-center gap-4 flex-wrap pt-3">
        <h1 class="display-3 text-white me-4">Mama Sound</h1>
        <div class="z-2 ms-lg-2">
            <button type="button" class="btn btn-custom-line">Qui somme-nous ?</button>
        </div>
    </div>
    <div class="row text-white"> 
        <img
        style="height: 187px";
            src="/assets/img/Rectangle 74.png"
            class="img-fluid float-md-start d-none d-md-block w-25 rounded me-3 mb-2 mt-3"
            alt="..."/>
    <div class="col mt-3">
        <p class="lead lh-base">
            Fondé en 2012 à Montpellier, MAMA SOUND s’est donné pour objectif de participer 
            à la vie culturelle locale à travers l’édition de l’agenda culturel de référence 
            couvrant Montpellier et ses alentours.​
        </p>
        <p class="lead lh-base">
            Ayant la particularité d’être le plus exhaustif possible, MAMA SOUND s’est fait 
            une place de choix dans l’univers des médias gratuits, diffusé dans plus de 400 
            points de distribution ciblés.
        </p>
        <p class="lead lh-base">
            MAMA SOUND diversifie ses domaines d’activités en s’investissant dans l’espace public pour organiser des événements culturels transgénérationnels favorisant le «vivre-ensemble».
            Plus que jamais, notre équipe de passionnés s’engage pour l’accessibilité à la culture pour tous.
        </p>
        <a href="https://musical-space-spork-r4v94vg6jwv2w4w-8000.app.github.dev/agenda/">
            <button type="button" class="btn btn-custom-solid mt-3">Programmation</button>
        </a>
    </div>
    </div>

    <h2 class="mt-5 mb-4 text-white">Sur cet espace vous retrouverez</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col d-flex flex-column position-relative">
            <img
                style="background-color: var(--kouler-sousou)"
                src="./assets/motif/sevronkler.svg"
                class="img-fluid rounded"
                alt="..."
            />
            <a class="btn btn-lg btn-primary my-3 stretched-link" href="./agenda/">
                <i class="bi bi-calendar-date"></i>
                L'agenda du réseau
            </a>
        </div>
        <div class="col d-flex flex-column position-relative">
            <img
                style="background-color: var(--kouler-losean)"
                src="./assets/motif/sevronkler.svg"
                class="img-fluid rounded"
                alt="..."
            />
            <a class="btn btn-lg btn-primary my-3 stretched-link" href="./adherer/">
                <i class="bi bi-person-badge"></i>
                Les adhésions possibles
            </a>
        </div>
        <div class="col d-flex flex-column position-relative">
            <img
                style="background-color: var(--kouler-kari)"
                src="./assets/motif/sevronkler.svg"
                class="img-fluid rounded"
                alt="..."
            />
            <a class="btn btn-lg btn-primary my-3 stretched-link" href="./reseau/">
                <i class="bi bi-arrow-repeat"></i>
                Les membres du réseau
            </a>
        </div>
        <!-- <div class="col d-flex flex-column position-relative">
            <img
                style="background-color: var(--kouler-letsi)"
                src="./assets/motif/sevronkler.svg"
                class="img-fluid rounded"
                alt="..."
            />
            <a class="btn btn-lg btn-primary my-3 stretched-link" href="./appels/">
                <i class="bi bi-balloon-heart"></i>
                Les appels à volontaires
            </a>
        </div> -->
    </div>
</main>
</div>